<main class="main-store-container">
  <h1 class="text-center">Hilados Arañitas</h1>
  <h2>Bienvenido a la comunidad de
    <a target="_blank" href="https://www.instagram.com/">Arañitas Tejedoras!</a></h2>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img
            src="./img/acrilico/ibis-crudo.jpg"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">Linea Chic</h5>
            <p>Hilados de bamboo suave y fino. Color amarillo disponible.</p>
            <p class="card-text">Composición: 100% Bamboo.
              <br />
              Hebras: 12
              <br />Gramaje: 50 grs. aprox.
              <br />Metros: 135 mts. aprox.
              <br />Grosor: 1 Súper Fino
              <br />Palillo: Nº 3 - 4
              <br />Crochet: Nº 3 - 4
            </p>
            <div class="button-shopping-item d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn">Cotizar</a>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Stock disponible:
              <span>20</span>
              unidades</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="./img/acrilico/ibis-rojo.jpg"
            class="card-img-top"
            alt="ovillo de 4mm 100% algodón en color rojo"
          />
          <div class="card-body">
            <h5 class="card-title">Cotton Basics</h5>
            <p>Hilados de algodón hipoalergénico. Color rojo disponible.</p>
            <p class="card-text">Composición: 100% Algodón.
              <br />
              Hebras: 4
              <br />Gramaje: 100 grs. aprox.
              <br />Metros: 250 mts. aprox.
              <br />Grosor: 1 Súper Fino
              <br />Palillo: Nº 3
              <br />Crochet: Nº 3
            </p>
            <div class="button-shopping-item d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn">Cotizar</a>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Stock disponible:
              <span>20</span>
              unidades</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="./img/acrilico/ibis-terracota.jpg"
            class="card-img-top"
            alt="Ovillo de lino color marrón"
          />
          <div class="card-body">
            <h5 class="card-title">Basics Lino</h5>
            <p>Elegante hilado de lino suave. Color marrón disponible</p>
            <p class="card-text">Composición: 51% Lino - 49% Algodón.
              <br />
              Hebras: 3
              <br />Gramaje: 50 grs. aprox.
              <br />Metros: 120 mts. aprox.
              <br />Grosor: 2 Fino
              <br />Palillo: Nº 3 - 4,5
              <br />Crochet: Nº 3 - 4,5
            </p>
            <div class="button-shopping-item d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn">Cotizar</a>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Stock disponible:
              <span>20</span>
              unidades</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img
            src="./img/acrilico/ibis-coral.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Linea TOP</h5>
            <p>Hilados TOP, suaves y livianos. Color salmón disponible.</p>
            <p class="card-text">Composición: 75% Acrilico Premium - 25% Viscosa
              <br />
              Hebras: 3
              <br />Gramaje: 100 grs. aprox.
              <br />Metros: 260 mts. aprox.
              <br />Grosor: 3 Ligero
              <br />Palillo: Nº 3 - 6
              <br />Crochet: Nº 3 - 6
            </p>
            <div class="button-shopping-item d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn">Cotizar</a>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Stock disponible:
              <span>20</span>
              unidades</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="./img/acrilico/ibis-pistacho.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Lana</h5>
            <p>Lana naturalmente coloreada. Verde musgo disponible.</p>
            <p class="card-text">Composición: 100% Lana
              <br />
              Hebras: 5
              <br />Gramaje: 100 grs. aprox.
              <br />Metros: 230 mts. aprox.
              <br />Grosor: 3 Ligero
              <br />Palillo: Nº 4 - 6
              <br />Crochet: Nº 4 - 6
            </p>
            <div class="button-shopping-item d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn">Cotizar</a>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Stock disponible:
              <span>20</span>
              unidades</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="./img/acrilico/ibis-mar-egeo.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Cotton Premium</h5>
            <p>Algodón premium total suavidad. Disponible en milticolor.</p>
            <p class="card-text">Composición: 100% Algodón
              <br />
              Hebras: 5
              <br />Gramaje: 100 grs. aprox.
              <br />Metros: 230 mts. aprox.
              <br />Grosor: 1 Super Fino
              <br />Palillo: Nº 2 - 5
              <br />Crochet: Nº 2 - 5
            </p>
            <div class="button-shopping-item d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn">Cotizar</a>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Stock disponible:
              <span>20</span>
              unidades</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>